<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <div class="contacts__headingtext">
            <h2 class="heading_h2 heading_h2_contacts">Contact Us</h2>
        </div>

    </header>

    <main>
        <div class="container__contacts">
            <div class="contacts__main">
                <div class="leftmain__contacts">
                    <h4 class="heading_h4 heading__h4_contacts">ADDRESS </h4>
                    <p class="text text__left_contacts">Id convallis placerat sit sed duis id amet volutpat quam a,
                        pharetra.</p>
                    <h4 class="heading_h4 heading__h4_contacts">PHONE</h4>
                    <ul class="text__left_contacts">
                        <li class="text__left_contacts_list phone">+7-812-7313-4321</li>
                        <li class="phone">+7-817-0000-1234</li>
                    </ul>
                    <h4 class="heading_h4 heading__h4_contacts">ONLINE SERVICE</h4>
                    <ul class="text__left_contacts">
                        <li class="text__left_contacts_list contacts_site"><a class="menu__link"
                                href="http://www.kremlin.ru/" target="_blank">www.kremlin.ru</a></li>
                        <li class="list_email_style"><a class="menu__email"
                                href="mailto:hello.site@gmail.com?subject=вопрос">hello.site@gmail.com</a></li>
                    </ul>
                </div>
                <div class="rightmain__contacts">
                    <h4 class="heading_h4 heading__h4_contacts heading__right_contacts">SEND US MESSAGE</h4>
                    <form action="#" class="text__right_contacts">
                        Full name <br><input class="input input_area" type="text" size="30" placeholder="Your Name"><br>
                        Email <br><input class="input input_area" type="email" placeholder="Your Email"><br>
                        Message <br><textarea class="input input_area_message" name="Message" cols="30" rows="10"
                            placeholder="Your Message"></textarea><br>
                        <button type="submit" class="button">submit</button>
                    </form>
                </div>
                <br>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer__big wrapper">
            <hr>
            <div class="footer__bottom container bottom_container">
                <ul class="footer_menu">
                    <li class="footer__list">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li class="footer__list">+7-812-7313-4321</li>
                    <li class="footer__list">hello.site@gmail.com</li>
                </ul>
                <div class="footer__rights">
                    <p class="rights__font">2020 &copy; All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>